.banner{
    width: 100%;
    height: 400px;
    background-color: #993000;
    display: flex;
    color: white;
}
.info-banner{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}
.foto-banner{
    width: 50%;
    height: 400px;
    background-image: url("../img/leon.jpg");
    background-size: cover;
    background-position: center;
}
.formulario{
   display: flex;
}
p{
    text-align: center;
}
input, button{
    padding: 7px;
    border-radius: 10px;
}
input{
    margin-right: 20px;
    border: none;
    width: 200px;
}
button{
    background-color: #993000;
    border: white 1px solid;
    width: 50%;
    color: white;
}
button:hover{
    background-color: #ff3300;    
}